@page "/form"
<h1>formulario</h1>
<p>formulario para ser compita del acne</p>
<Editform model="contactDto">
    <div>
        <h3>Nombre</h3>
        <input />
        <h3>Apellid</h3>
        <input />
        <h3>Telefono</h3>
        <input />
        <h3>Correo electronico</h3>
        <input />
        <h3>Contraseña</h3>
        <input />
        <h3>Fecha de naciminto</h3>
        <input type="date" />
        <h3>Sexo</h3>
        <label for="hombre">Hombre</label>
        <input type="radio" name="sexo" id="hombre" />
        <label for="mujer">Mujer</label>
        <input type="radio" name="sexo" id="mujer" />
        <label for="villanoantillano">Villanoantillano</label>
        <input type="radio" name="sexo" id="villanoantillano" />
        <p> 
            acacacac enene mucho pus de ppppus acne y acne mas acne da AC al cuardopolis
            y por lo tanto la pus de acne dara acne.call of duty black ops pus se dara inicio
            en la cara del acne en una batalla contra los puntos negros
        </p>
        <input type="submit" value="Enviar" />
    </div>
</Editform>
@code{

}